.App {
  max-width: 1200px;
  margin: auto;
  left: 3%;
  right: 3%;
  position: absolute;
}

.carousel {
  width:800px;
  height:402px;
  margin: auto;
}
.accordion {
  width:1200px;
  margin: auto;
}

#ImageSlides {
  width:"820px";
  height:"420px";
  background-color: transparent;
}

@media (max-width: 800px) {
  .App {
    width:auto;
    height:auto;
    margin: auto;
    left: 7%;
    right: 7%;
    position: absolute;
  }
}

@media (max-width: 800px) {
  .carousel {
    width:auto;
    height:auto;
  }
}

@media (max-width: 800px) {
  .accordion {
    width:auto;
    height:auto;
  }
}